@font-face {
  font-family: "Yusei Magic";
  src: url("/src/fonts/YuseiMagic-Regular.ttf") format("truetype");
}

@font-face {
  font-family: "Montserrat";
  src: url("/src/fonts/Montserrat-Regular.ttf") format("truetype");
}
